API_ID=26090790
API_HASH=fbe01ca61b6a977f85dc57a80fd2e7cb
OWNER_ID=8345587611
LOGGER_ID=-1003383829888
BOT_TOKEN=8891757377:AAEOb2fDf8GEUDvrT3LLW3f33trg9s-VozI
STRING_SESSION=BAGOHSYAlzkgEA6gvuU-lwVaCQeWQNip9_NGu-iVBh5dsLRorn1EA2quCZ6_0ce1JedOnmlp1yCTi19TurRdQLlCAvteGub8GcqmojmV757pIMomTL9RAQTP9ilsP_VFgX9kkjBcGQehzAP7dPwzwoij4iD_1bMosUyxwodODjv5vVKMObhefakaZX28plAdhh3SWMiZTs2iS_JvXVyZWt9rHDhO5P6-KhV9RjbJvoHVGWuqeildAkRYhLuyrsPoImimIpfi3scDST0OVhqwRMgSwLbdRxicW2yG5A6kx8CxLA_yDM7oBw71ZWaLipnoxbrTMISgBL96rT4ncfVDYYm12srpTQAAAAH1wLUlAA 

MONGO_DB_URI=mongodb+srv://himanshukumar13206_db_user:xCeqkJiVO6gcGJSZ@cluster0.4wvusjk.mongodb.net/
COOKIE_URL=
DEEP_API=
API_KEY=
API_URL=
VIDEO_API_URL=
